@import '../../styles/colors.less';
@import '../../styles/constants.less';

.header {
  position: relative;
  height: 96px;
  display: flex;
  align-items: center;
  @media (max-width: @mobile-size) {
    height: 55px;
  }
}

.line {
  height: 1px;
  width: 100%;
  background: @input-background-color;
}

.logo {
  left: 50%;
  position: absolute;
  padding: 10px;
  margin-left: -34px;
  box-sizing: border-box;
  background-color: @gray-background-color;
}
